<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5.5p %20.30C{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.ea.matchingengine" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>